%p= t('.title')

#auth-providers
  - Rails.application.config.omniauth_providers.each do |provider|
    = link_to user_omniauth_authorize_path(provider: provider) do
      %i.fa{class: "fa-#{auth_provider_icon(provider)}"}
      = auth_provider_name(provider)