# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

donations: &donations
  paypal:
    url: "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=A5956UYMW6QKJ&lc=US&item_name=Musical%20Artifacts&item_number=musart¤cy_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"
    shield: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"
  bitcoin:
    url: "bitcoin:1Q6cYSxkKybi4we5joaMFbcKAMxxvCcJkr"
    shield: "https://musical-artifacts.com/uploads/static/bitcoin_donate.png"
  coinhive:
   key: "nIuCji2QvrnSKfbe9rHEVmn8oDQoDwAQ"

development:
  secret_key_base: 26e55ff3dbbc1fff5e7c43db332af8c9b47facf4a5af0a556194127054a8ab531b812406694e4191053757186e3eab286a20f1314b2a6d1fb0ac562e70d3808b

  donations:
    <<: *donations

test:
  secret_key_base: 84629b7ac2ec95f96f39af8152b2b5b5ca2c22f6851fe4ff2c1daa64f0809adc68b430b4d9884ab89e68188b72a4762d1ba78ddd30094662de281c2433acb82d

  donations:
    <<: *donations

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  donations:
    <<: *donations
