settings:
  hostname: musical-artifacts.com
  site_name: Musical Artifacts

  juvia:
    server_url: http://comments.musical-artifacts.com
    site_key: yourkeyhere
    comment_order: earliest-first
    include_css: true
