/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
 *=
 *= require jstree-default
 *= require_self
 */

@import "bootstrap-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";
@import "compass";
@import "compass/css3/border-radius";

@import "application-variables.scss";

@import 'select2-customizations';

@import "audiojs";

@import 'nprogress';
@import 'nprogress-bootstrap';

@import "ribbon";

.pad-bottom {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.pad-top {
  padding-top: 0.5em;
  margin-top: 0.5em;
}

a {
  color: $cold;
}

a:hover {
  color: $dark;
  text-decoration: none;
}

a:focus {
  color: $colder;
}

/* artifacts/show */

#file-tree {
  overflow:auto;
  max-height: 280px;
  width: $sidebar-width;
}

.multimedia-content img {
  width: $sidebar-width;
}

/*  _wayback_links */
#show-wayback-links .on-shown {
  display: none;
}

a.external-link:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin: 2px;
  padding: 2px;
}

a.external-link.normal:after {
  content: "\f14c";
}

a.external-link.wayback:after {
  content: "\f08e";
}

/*  _comments */
.comments {
  font-size: 2em;
}

#hide-comments {
  @extend .text-center;
  display: none;
}

#show-comments {
  @extend .text-center;
}

#load-comments {
  @extend .text-center;
  display: none;
}

#comments {
  display: none;
}

.nav-links {
  @extend .text-center;
  @extend strong;
  font-size: 2em;
}

/*  related links */
#related-links {
}

.related-link {
}

/* artifact links */

ul.link-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link-list i {
  margin-left: 1em;
  padding-left: 1em;
}

/* artifacts/index */
#artifact-list {
}

.artifact-name {
  display:inline;
}

.artifact-description {

  margin-top: 10px;
  padding-bottom: 5px;

  p, ul, ol {
    font-size: 16px;
  }

  h1, h2, h3, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  img {
    max-width: $sidebar-width*1.5;
  }
}

.no-description {
  font-size: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  padding-top: 2em;
  padding-bottom: 2em;
}

.artifact-sidebar {
  margin-right: -12px;
  margin-left: 12px;
}

.artifact-times {
  padding-top: 0.5em;
  font-size: 90%;
  font-style: italic;

  .updated-at {
    color: #aaa;
  }
}

/* standalone artifact container */
.artifact-item {
  padding-top: 1.8em;
}

/* artifact container when in a list */
.row .artifact-item {
  padding: 1em 1.4em 0.4em 1.4em;
  margin-bottom: 2em;
}

.artifact-sidebar {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.light-item {
  background-color: #f8f8f8;
  border-color: #efefef;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
}

.dark-item {
  background-color: $light-dark;
  @include border-radius(2px, 2px);
  border-color: #ddd;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
}

.light-item {
}

.artifact-license {
  margin-bottom: 10px;
}

.artifact-license img {
  margin: 5px;
}

.license {
  margin-top: 1em;
}

.license-text {
  font-size: 95%;
}

.license-terms {
}

.license-label {
  margin-right: 5px;
}

/* _pagination */
ul.pagination {

  font-size: 120%;

  li a:active {
    color: $cold;
  }

  li a:visited {
    color: $cold;
  }

  li a {
    color: $coldy;
  }

  li a:hover {
    color: $colder;
  }

  li.active a {
    background-color: $coldy;
    border-color: $coldy;
  }

  li.active a:hover {
    background-color: $colder;
    border-color: $colder;
  }
}

/* artifact_search */
.artifact-item.empty-search {
  padding: 40px 0px 480px 20px;

  p { font-size: 200%; }
}

.search-description {
  font-size: 150%;
}

.search-filters {
  display: none;
}

#artifacts_search_clear {
  background-color: #ddd;
}

#artifacts_search_clear.btn-lg {
  border-left: 0px;
}

.filters {
  margin-bottom: 2em;
}

label.filter {
  font-size: 120%;
  padding-left: 0.2em;
}

/*
  Only site admins need this, when the top nav doesnt have enough width to contain all options
  the search bar will be almost hidden
*/
@media(min-width:767px) and (max-width: 980px) {

  form#artifact_search_form {
    margin-top: 30px;
  }

}

@media(min-width:767px) {
  .with-navbar-on-top {
    padding-top: 80px;
  }

  .search-field {
    padding-bottom: 20px;
  }

  .artifact-list-wrapper {
    padding-left: 0px !important;
  }
}

@media(max-width:767px) {
  .with-navbar-on-top {
    padding-top: 60px;
  }

  .search-field {
    padding-bottom: 10px;
  }

  #artifact_search {
    font-size: 16px;
    height: 2.4em;
  }

  .search-field {
    margin-left: 0.7em;
    margin-right: 0.7em;
    .btn { font-size: 12px; }
  }

  .comments {
    font-size: 1.5em;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .artifact-description {

    p {
      font-size: 12px;
    }

    p.small {
      font-size: 12px;
    }
  }

  .no-description {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 110%;
  }

  .big-tags {
    font-size: 120%;
  }

  .artifact-item {
    padding: 1em 0.9em 0.1em 0.9em;
  }

  a.btn-download {
    font-size: 16px;
  }

  .artifact-item {

    p {
      font-size: 14px;
    }

    p.small {
      font-size: 12px;
    }

    .side-buttons {
      .btn {
        font-size: 18px;
        padding-top: 0.3em;
        padding-bottom: 0em;
        padding-left: 0.4em;
        padding-right: 0.4em;
      }

      .small-label {
        margin-bottom: 0.5em;
        margin-left: 0em;
        margin-right: 0em;
      }
    }

  }

}

/*  _artifact_tags */
.artifact-tags {
  a {
    text-decoration: none;
  }

  .label {
    display: inline-block;
    padding: 4px 8px 5px 8px;
    margin-top: 8px;
  }
}

.big-tags .label {
  padding: 7px 10px 7px 10px;
  margin-top: 10px;
}

.label-app {
  background-color: $hot;
  color: $darker;
  a { color: $darker; }
  transition: 0.4s;
}

.label-app:hover {
  background-color: $hotter;
}

.label-tag {
  background-color: $coldy;
  a { color: $white; }
  transition: 0.4s;
}

.label-tag:hover {
  background-color: $colder;
}

.label-format {
  background-color: $darky;
  a { color: $white; }
  transition: 1s;
}

.label-format:hover {
  background-color: $darker;
}

.label-delete {
  padding-right: 10px;
  margin-left: -2px;
  a { color: #aaa; }
}

.big-tags {
  font-size: 150%;
}

.license-tag {
  padding: 0.1em;
}

/* tag filters */
.filter-sidebar {
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
}

.tag-title {
  text-transform: none;
  color: #222;
  margin-top: 0;
}

.tag-filter {
  font-size: 120%;
  padding-right: 12px;
  display: inline-block;
}

.selected-tag {
  font-weight: bold;
}

a.tag-filter:hover {
  color: $darker;
  text-decoration: underline;
}

.normal-tag { color: $colder;}
.app-tag { color: $hotter; }
.format-tag { color: $darky;}

.side-buttons {
  transition: 2s;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .btn {
    font-size: 24px;
    font-weight: bold;

    .small-label {
      font-size: 10px;
      text-transform: none;
    }
  }

  a.unfavorite i {
    color: $hot;
  }

  a.favorite i {
    color: $dark;
  }

}

.favorite-artifact:hover {
  a.unfavorite i, a.inactive-favorite i {
    color: $hot;
  }

  a.favorite i {
    color: $hotter;
  }
}

.download-count {
}

/*  _buttons */
.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active {
    background: $darker;
    color: $cold;
}

.btn-download {
  white-space: normal;
  background-color: #222;
  text-decoration: none;
  font-size: 110%;
  color: $coldy;
  @include border-radius(2px, 2px);
  border-color: $colder;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}

.btn-new.btn-lg {
  border-color: $cold-border;
  background-color: $coldy;
  color: $white;
  font-size: 150%;
  transition: 1s;
  white-space: normal;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
}

a.btn-new:hover {
  background-color: $colder;
  color: #ddd;
}

.btn-scroll-top {
  background-color: $hoty;
  color: $white;
}

a.btn-scroll-top:hover {
  background-color: $hoty;
  text-decoration: none;
}

/* artifacts/show */
.license-select {
  width: 100%;
}

p.more-info {
  font-weight: bold;
}

.container-login {
  font-size: 120%;
  padding-top: 2em;
  padding-bottom: 2em;
}

/*
 * public_activity/index
 */

.activity {
  margin: 10px 0 0 10px;
  overflow: hidden;
}

.activity-content {
  padding: 30px 0 10px 10px;
}

.activity img {
  padding: 12px 15px 5px 15px;
  float: left;
}

.activity-right {
  margin-right: 10px;
  border-right: 2px;
}

.activity-left {
  margin-right: 20px;
}

/*
 * About page + main application CSS
 */

/* Hard edged borders for most of bootstap stuff */
.btn, .label, .alert, .dropdown-menu, .panel {
  @include border-radius(2px, 2px);
}

.alert {
  margin-top: 20px;
}

.badge-unapproved {
  color: $darky;
  background-color: $white;
}

.badge-artifacts {
  color: $darker;
  background-color: $hot;
}

section.success {
    color: $white;
    background: $coldy;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: $white;
}

header {
    text-align: center;
    color: $white;
    background: $coldy;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .documentation-link {
  a { color: $white; }

  padding-top: 2em;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }

    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-brand {
      background: transparent image_url('icons/main.png') center left no-repeat;
      padding-left: 64px;
      height: 56px;
    }

    .navbar-search-field {
      margin-top: 8px;
      margin-left: 64px;
      color: #9d9d9d;

      input {
        border: solid 2px #9d9d9d;
        background: 0 0;
        width: 320px;
        font-size: 16px;
      }

      .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        margin-left: -50px;
        z-index: 2;
      }

      button {
        border: hidden 2px #9d9d9d;
        line-height: 1.1;
        background: 0 0;
      }
    }

    section#form {
      padding-top: 5px;

      hr {
        border-top: solid 4px;
      }

      hr:after{
        font-size: 1.5em;
      }
    }

}

.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-brand {
  text-transform: uppercase;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-brand .subtitle {
  text-transform: none;
  font-size: 60%;
  padding: 0.2em;
  color: $coldy;
}

section.padded-top {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    header .container {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    section#form {
      padding-top: 10px;

      hr {
        border-top: solid 3px;
      }

      hr:after{
        font-size: 1.4em;
      }
    }

    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }

    .navbar-header {
      padding-bottom: 10px;
    }

    .navbar-brand {
      background: transparent image_url('icons/main_small.png') center left no-repeat;
      padding-left: 58px;
    }

    .navbar-search-field {
      margin-top: 12px;
      color: #9d9d9d;

      input {
        border: solid 1px #9d9d9d;
        background: 0 0;
        margin-left: -10px;
        width: 220px;
        height: 36px;
        font-size: 12px;
      }

      .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        margin-left: -46px;
        z-index: 2;
      }

      button {
        border: hidden 1px #9d9d9d;
        line-height: 1;
        background: 0 0;
        font-size: 12px;
      }
    }
}

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

p.smallest {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f001";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: $white;
}

hr.star-light:after {
    color: $white;
    background-color: $coldy;
}

hr.star-primary {
    border-color: #333;
}

hr.star-primary:after {
    color: #333;
    background-color: #fff;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #ccc;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: $cold;
    background: #fff;
}

.floating-label-form-group {
    margin-bottom: 0;
    padding-bottom: .5em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.1em;
    box-shadow: none!important;
}

.floating-label-form-group {

  input {
    border-bottom: 1px solid #ddd;
    background: #fefefe;
  }

  textarea {
    border-color: #ddd;
    border-style: solid;
    border-width: 0px 0px 2px 1px;
  }

  input[type='file'] {
    border-bottom: 0;
    margin-bottom: 10px;
  }

  input.form-control, textarea.form-control {
    width: 80%;
  }
}

.floating-label-form-group label {
    padding-right: 10px;
    top: 2em;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 1;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
    width: 100px;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
  color: $white;

  h3 {
    margin-bottom: 30px;
  }

  .footer-above {
    padding-top: 50px;
    background-color: $darker;
  }

  .footer-col {
    margin-bottom: 50px;
  }

  .footer-below {
    padding: 25px 0;
    background-color: #000;
  }

  #opt-out {
    font-size: 90%;
  }
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}
