/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";
@import "compass";
@import "compass/css3/border-radius";

@import "audiojs";

$cold: #632d4d;
$colder: #521c3c;
$coldy: #854f6f;

$hotter: #dcb803;
$hot: #feda25;
$hoty: #fee355;

$dark: #222;
$darky: #555;
$darker: #111;

$light-dark: #eee;

$white: #fff;

.pad-bottom {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.pad-top {
  padding-top: 0.5em;
  margin-top: 0.5em;
}

a {
  color: $cold;
}

a:hover {
  color: $dark;
  text-decoration: none;
}

a:focus {
  color: $colder;
}

/* artifacts/show */

.multimedia-content img {
  width: 420px;
}

/*  _wayback_links */
#show-wayback-links .on-shown {
  display: none;
}

a.external-link:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin: 2px;
  padding: 2px;
}

a.external-link.normal:after {
  content: "\f14c";
}

a.external-link.wayback:after {
  content: "\f08e";
}

/*  _comments */
#hide-comments {
  @extend .text-center;
  font-size: 2em;
  display: none;
}

#show-comments {
  @extend .text-center;
  font-size: 2em;
}

#load-comments {
  @extend .text-center;
  font-size: 2em;
  display: none;
}

#comments {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  display: none;
}

.nav-links {
  @extend .text-center;
  @extend strong;
  font-size: 2em;
}

/*  related links */
#related-links {
}

.related-link {
}

/* artifact links */

ul.link-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link-list i {
  margin-left: 1em;
  padding-left: 1em;
}

/* artifacts/index */
#artifact-list {
}

.row .artifact-item {
  padding: 0.01em 1.4em 0.4em 1.4em;
}

.dark-item {
  background-color: $light-dark;
  @include border-radius(8px, 8px);
}

.light-item {
}

.artifact-license {
  margin-bottom: 10px;
}

.artifact-license img {
  margin: 5px;
}

.license {
  margin-top: 1em;
}

.license-terms {
}

.license-label {
  margin-right: 5px;
}

/* _pagination */
ul.pagination {

  font-size: 120%;

  li a:active {
    color: $cold;
  }

  li a:visited {
    color: $cold;
  }

  li a {
    color: $coldy;
  }

  li a:hover {
    color: $colder;
  }

  li.active a {
    background-color: $coldy;
    border-color: $coldy;
  }

  li.active a:hover {
    background-color: $colder;
    border-color: $colder;
  }
}

/* artifact_search */
.artifact-item.empty-search {
  padding: 40px 0px 480px 20px;

  p { font-size: 300%; }
}

.search-description {
  font-size: 150%;
}

.search-filters {
}

#artifacts_search_clear {
  background-color: #ddd;
}

.filters {
  margin-bottom: 2em;
}

label.filter {
  font-size: 120%;
  padding-left: 0.2em;
}

/*
  Only site admins need this, when the top nav doesnt have enough width to contain all options
  the search bar will be almost hidden
*/
@media(min-width:767px) and (max-width: 980px) {

  form#artifact_search_form {
    margin-top: 30px;
  }

}

@media(min-width:767px) {
  .with-navbar-on-top {
    padding-top: 120px;
  }

  .search-field {
    padding-bottom: 20px;
  }
}

@media(max-width:767px) {
  .with-navbar-on-top {
    padding-top: 60px;
  }

  .search-field {
    padding-bottom: 10px;
  }
}

.artifact-tags a {
  text-decoration: none;
}

/*  _artifact_tags */
.label-app {
  background-color: $hot;
  color: $darker;
  a { color: $darker; }
  transition: 0.4s;
}

.label-app:hover {
  background-color: $hotter;
}

.label-tag {
  background-color: $coldy;
  a { color: $white; }
  transition: 0.4s;
}

.label-tag:hover {
  background-color: $colder;
}

.label-format {
  background-color: $darky;
  a { color: $white; }
  transition: 1s;
}

.label-format:hover {
  background-color: $darker;
}

.label-delete {
  padding-right: 10px;
  margin-left: -2px;
  a { color: #aaa; }
}

.big-tags {
  font-size: 150%;
}

.license-tag {
  padding: 0.1em;
}

/* tag clouds */
.tag-title {
  text-transform: none;
  color: #222;
}

.normal-tag { color: $colder;}
.app-tag { color: $hotter; }
.format-tag { color: $darky;}

.tag-xs { font-size: 1.2em; }
.tag-sm { font-size: 1.8em; }
.tag-md { font-size: 2.2em; }
.tag-lg { font-size: 2.8em; }
.tag-xl { font-size: 3.4em; }
.tag-xxl { font-size: 4.0em; }

/*  _buttons */
.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active {
    background: $darker;
    color: $cold;
}

.btn-download {
  background-color: $dark;
  text-decoration: none;
  font-size: 110%;
  color: $coldy;
}

.btn-new.btn-lg {
  background-color: $cold;
  color: $white;
  font-size: 150%;
  transition: 1s;
  margin-bottom: 1em;
  white-space: normal;
}

.btn-new:hover {
  background-color: $colder;
  color: #eee;
}

.btn-scroll-top {
  background-color: $hoty;
  color: $white;
}

a.btn-scroll-top:hover {
  background-color: $hoty;
  text-decoration: none;
}

/* artifacts/show */
.license-select {
  width: 100%;
}

.artifact-description {

  p {
    font-size: 16px;
  }

}

p.more-info {
  font-weight: bold;
}

/*
 * About page + main application CSS
 */
.badge-unapproved {
  color: $darky;
  background-color: $white;
}

section.success {
    color: $white;
    background: $coldy;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: $white;
}

header {
    text-align: center;
    color: $white;
    background: $coldy;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-brand {
  text-transform: uppercase;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-brand .subtitle {
  text-transform: none;
  font-size: 60%;
  padding: 0.2em;
  color: $coldy;
}

section.padded-top {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }

    .navbar-header {
      padding-bottom: 10px;
    }
}

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f001";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: $white;
}

hr.star-light:after {
    color: $white;
    background-color: $coldy;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #ccc;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: $cold;
    background: #fff;
}

.floating-label-form-group {
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 1;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: $white;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: $darker;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}
