$cold: #632d4d;
$colder: #521c3c;
$coldy: #854f6f;
$cold-border: #73256A;

$hotter: #dcb803;
$hot: #feda25;
$hoty: #fee355;

$dark: #222;
$darky: #555;
$darker: #111;

$light-dark: #eee;

$white: #fff;

$nprogress-color: $hoty;
$nprogress-height: 2px;

$sidebar-width: 360px;