.audiojs {
  width: $sidebar-width;
  height: 42px;
  background: #404040;

  text-align: center;

  .play-pause {
    width: 2em;
    height: 45px;
    padding: 0.8em 1em 0px 0px;
  }

  p {
    width: 2em;
    height: 2em;
    margin: -3px 0px 0px -1px;
  }

  .scrubber {
    background: #5a5a5a;
    width: 220px;
    height: 20px;
    margin: 10px 0px 10px 5px;
  }

  .progress {
    height: 20px;
    width: 0px;
    background: #ccc;
  }

  .loaded {
    height: 20px;
    background: #000;
  }

  .time {
    float: left;
    height: 45px;
    width: 30px;
    line-height: 45px;
  }

  .error-message {
    width: 80%; height: 44px;line-height: 44px;
  }
}

.track-details {
  clear: both;
  width: $sidebar-width;
  padding: 2px 2px 4px 10px;
  background: #eee;
  color: #222;
  font-family: monospace;
  font-size: 110%;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);

  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;

  em {
    color: #999;
  }
}

.track-details:before { content: '♬ '; }
