#donations {
  h1 {
    font-weight: bold;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 1em 0 1em 0;
    display: inline;
  }

  li {
    display: -webkit-inline-flex;
    margin-right: 1em;
  }

  .description {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .more-details {
    font-size: 0.9em;
  }

}
