#donations {
  h1 {
    text-transform: none;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 1em 0 0.5em 0;
    display: inline;
  }

  li {
    display: -webkit-inline-flex;
    margin-right: 1em;
  }

  .my-music {
    margin-top: 1em;

    a {
      font-weight: bold;
    }

    img {
      display: block;
      margin: 0 auto 0.5em auto;
    }
    figcaption {
      text-align: center;
    }
  }

  .description {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  .more-details {
    font-size: 0.9em;
  }

}
