.select2-choices:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin: 2px;
  padding: 2px;
  content: "\f067";
  color: #888;
  font-size: 90%;
}

.select2-dropdown-open .select2-choices:after {
  content: "";
}

.select2-drop {
  border: 0;
  box-shadow: none;
}

.select2-container {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.select2-container .select2-choice {
  border: 0;
  background-image: none;
  background: none;
}

.select2-results {

  .select2-no-results {
    background: none;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
    background: #fefefe;
  }

  .select2-highlighted {
    background: $coldy;
  }
}

.select2-container .select2-choice .select2-arrow {
  background-image: none;
  border: 0;
  background: none;
}

.select2-search input {
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none!important;
}

.select2-drop.select2-drop-multi.select2-drop-active.select2-drop-above {
  border: 0;
  background: #fff;
  background-image: none;
  box-shadow: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 0;
  background: #fff;
  background-image: none;
  box-shadow: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-color: $coldy;
  background: #fff;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 4px 0px 8px 15px;
  background-image: none !important;
  background-color: #fff !important;
  border: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container-multi .select2-choices {
  border: 0;
  box-shadow: none!important;
}

.select2-search-choice {
  word-break: break-word;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container-multi .select2-choices {
  background-image: none;
  overflow: initial;
}
