#load-comments
  %i.fa.fa-spinner.fa-spin

#show-comments
  %a{href: '#comments'}= t('.show_comments')
  %i.fa.fa-comment

#comments
  -# Comments go here

#hide-comments
  %a{href: ''}= t('.hide_comments')
  %i.fa.fa-comment-o