- file = @artifact.stored_files.last

- if file.try(:file_list).present?
  .col-lg-4.col-md-4.col-sm-4.dark-item.artifact-sidebar
    %h4= t('.title')
    #file-tree.pad-bottom
      = file_tree file
