%a#show-wayback-links{href: '#'}
  .on-hidden
    %span.fa-stack
      %i.fa.fa-file-o.fa-stack-1x
      %i.fa.fa-times.fa-stack-1x
    = t('.broken')

  .on-shown
    %span.fa-stack
      %i.fa.fa-file-o.fa-stack-1x
    = t('.original')