%section#form
  .container

    .row
      .col-lg-12.text-center
        %h2 Editing Artifact
        %hr.star-primary

    = render 'form'

    = link_to t('.show'), @artifact
    |
    = link_to t('_other.back'), artifacts_path
