- content_for :title, t('.edit', name: @artifact.name)

%section#form
  .container

    .row
      .col-lg-12.text-center
        %h2= t('.edit', name: @artifact.name)
        %hr.star-primary

    = render 'form'

    .row.nav-links.pad-top.pad-bottom
      = link_to t('_other.back'), artifacts_path
