%p#notice= notice

.row
  .col-lg-12
    .input-group.search-field
      %span.input-group-btn
        %button.btn.btn-default{:type => "button"} Search!
      %input#artifact_search.form-control{:placeholder => "Search for...", :type => "text"}

#artifact-list
  = render 'artifact_list'

.row
  .col-lg-12
    = link_to t('.new'), new_artifact_path, class: 'btn btn-group-justified btn-primary btn-lg'
