%p#notice= notice

.row
  .col-lg-12
    .input-group
      %span.input-group-btn
        %button.btn.btn-default{:type => "button"} Search!
      %input#artifact_search.form-control{:placeholder => "Search for...", :type => "text"}

#artifact-list
  = render 'artifact_list'

= link_to t('.new'), new_artifact_path
