%h1#acceptance-clause Acceptance Clause
%p
  By accessing and using Musical Artifacts, you accept and agree to be bound by the terms and provision of this Agreement. <strong>Any participation in this service will constitute acceptance of this Agreement. If you do not agree to abide by the above, please do not use this service</strong>
%h1#privacy-policy-and-data-collection-clause Privacy Policy and Data Collection Clause
%p User accounts created on the site are identified only by an email address. This data will only be used to the extent that it's needed to operate the service and will not be shared with third parties under any circumstance.
%p When you visit Musical Artifacts, the pages that you look at and a short text file called a cookie, are downloaded to your computer. Cookies are used to store small amounts of information and is used as part of the login process, translation and traffic analysis for the Site. The cookies do not contain personal details. Depending on the browser that you use, you can set your preferences to block/ refuse cookies, and/ or notify you before they are placed.
%p Musical Artifact reserves the right collect access information, e.g IP addresses, sent by the users when accessing the Site. This data is anonymized and collected for traffic analysis purposes only. We respect the visitors' browsers "DoNotTrack" setting and if it's configured we'll not collect any access data.
%p
  If you want to opt-out from this information collection you can do it by accessing
  %a{:href => "https://musical-artifacts.com/analytics_optout"} this page

%h1#content-clause Content clause
%p
  Content submitted by users of the website, referred to as "artifacts", is licensed under the
  %a{:href => "https://creativecommons.org/licenses/by-sa/4.0/"} Creative Commons — Attribution-ShareAlike 4.0 International — CC BY-SA 4.0
  License. This license extends to the meta-data associated with a specific file on the Site (e.g: title, description, hyper-links, ...), but not to the files themselves which have their authorship and licensing explicitly declared their respective pages on the Site.
%h1#accuracy-and-warranty-clause Accuracy and Warranty Clause
%p All content available on this Site is distributed without warranty and is presented for informational purposes only. This Site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the Site, and shall not be responsible or liable for any error or omissions in that information.
%p Content on the website is submitted by users. The website may contain links to other websites, resources or computer programs of interest. However, once you have used these links to leave the website, you should note that Musical Artifacts does not have any control over those other websites. Therefore, Musical Artifacts owners cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites, or potential malicious software distributed through them. You should exercise caution and look at the privacy statement applicable to the website in question, take appropriate measures to keep your computer secure, and check the legitimacy of downloaded files.
%h1#account-termination-clause Account Termination Clause
%p We reserve the right to terminate user accounts without cause or notice, which may result in the forfeiture and destruction of all information associated with the account. All provisions of this Agreement that, by their nature, should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
%h1#change-of-provisions-clause Change of Provisions Clause
%p Musical Artifacts reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. You are therefore advised to re-read this statement on a regular basis. If there are any changes in how we use our site users' data, notification by email will be made to those affected by the change.

